*, *::after, *::before {
  box-sizing: border-box;
}

/* font-family: 'Arvo', serif; */
/* font-family: 'Lato', sans-serif; */
body {
  margin: 0;
  font-family: 'Arvo', serif;
  padding-top: 30px;
  padding-bottom: 80px;
  background-image: url('../img/main-bg.jpg');
  font-size: 100%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url('../img/header-bg.jpg');
}

.navigation {
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
}

.navigation-container {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 3px solid #f6a201;
  border-bottom: 2px solid #c78301;
  background-color: #e09402;
  padding-left: 30px;
  padding-right: 30px;
}

.navigation::before,
.navigation::after {
  content: '';
  position: absolute;
  top: 0;
  width: 19px;
  height: 64px;
  background-repeat: no-repeat;
}

.navigation::before {
  background-image: url('../img/flag-l.png');
  left: -19px;
}

.navigation::after {
  background-image: url('../img/flag-r.png');
  right: -19px;
}

.navigation-container > li{
  float: left;
  position: relative;
  margin: -3px 0;
  transition: .3s;
}

.navigation a {
  display: inline-block;
  color: #ebe6df;
  text-shadow: 0 2px rgba(148, 97, 0, 0.3);
  text-decoration: none;
}

.navigation-container > li > a {
  padding: 23px 15px 24px;
}

.navigation li:hover {
  background-color: #62493d;
}

.sub-nav {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #62493d;
  min-width: 276px;
  left: 0;
  top: calc(100% - 3px);
  opacity: 0;
  visibility: hidden;
  transition: .3s
}

.navigation-container > li:hover  .sub-nav{
  visibility: visible;
  opacity: 1;
}

